<div class="jumbotron">
	<h1>Cloud Only Project</h1>
    <p class="lead">For this option you will only build a cloud back-end</p>
</div>
<div class="row">
	<h1>A+</h1>
	<ul>
		<li>
			This is a restful api which has baby and memories associated with the baby.
		</li>
	</ul>

</div>
